{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <div class="block mb-20">
        <h2 class="pb-30">Page de profile</h2>
        {{form_start(form)}}
        {{form_rest(form)}}
        <button class="btn btn-primary mr-10">Mettre à jours</button>
        {{form_end(form)}}
    </div>

    <div class="block">
        <h3 class="pb-30">Mes questions</h3>
        <ul>
            {% for questions in app.user.questions %}
                <li>{{questions.title}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="block">
        <h3>Mes réponses</h3>
        <ul>
            {% for comments in app.user.comments %}
                <li>{{comments.content | slice(0, 50)}}...</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
